<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="utf-8"/>
	<title>Bid List Screen</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="content-wrapper">

	<div>
		<h2 class="title-custom">Bid List Screen</h2>
	</div>

	<div class="menu-block">

			<nav class="menu-links">
				<a href="/bidList/list">Bid List</a>
				<a href="/curvePoint/list">Curve Points</a>
				<a href="/rating/list">Ratings</a>
				<a href="/trade/list">Trade</a>
				<a href="/ruleName/list">Rule</a>
				<a href="/user/list">Users</a>
			</nav>
		<div class="user-block">

		<p class="user-label">Logged in user: <b th:text="${username}">admin</b></p>
			<form th:action="@{/logout}" method="POST">
				<input type="submit" value="Logout" class="btn btn-sm btn-outline-secondary"/>
			</form>
		</div>
	</div>

	<!-- Label "Bid List" + bouton -->
	<div class="row mb-3">
		<div class="col">
			<h4 class="section-label">Bid List</h4>
			<a href="/bidList/add" class="btn btn-primary btn-sm" sec:authorize="hasRole('ADMIN')">Add New</a>

		</div>
	</div>

	<!-- Tableau -->
	<table class="table table-bordered table-striped text-center">
		<thead class="table-light">
		<tr>
			<th>Id</th>
			<th>Account</th>
			<th>Type</th>
			<th>Bid Quantity</th>
			<th sec:authorize="hasRole('ADMIN')">Action</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="bidList : ${bidLists}">
			<td th:text="${bidList.bidListId}"></td>
			<td th:text="${bidList.account}"></td>
			<td th:text="${bidList.type}"></td>
			<td th:text="${bidList.bidQuantity}"></td>
			<td class="text-right action-links" sec:authorize="hasRole('ADMIN')">
				<a th:href="@{/bidList/update/{id}(id=${bidList.bidListId})}">Edit</a> |
				<a th:href="@{/bidList/delete/{id}(id=${bidList.bidListId})}">Delete</a>
			</td>
		</tr>
		</tbody>
	</table>

	<!-- Logo -->
	<div class="footer-logo-inside">
		<img th:src="@{/img/logo_poseidon.png}" alt="Poseidon Capital Solutions" style="height: 50px;" />
	</div>

</div>
</body>


</html>
